body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
}

#wrapperDiv {
  margin: 2.5% auto 2.5% auto;
  width: 60%;
  padding: 2.5%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: forestgreen;
}

input {
  display: block;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="radio"], input[type="checkbox"], input[type="button"],input[type="submit"]{
  display: inline;
  width: 40%;
}

input[type="radio"], input[type="checkbox"]{
  width: 5%;
}
input[type="button"],input[type="submit"]{
  margin: 5px 5%;
  background-color: forestgreen;
  font-weight: bold;
  color: white;
}

select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  padding: 8px;
  margin: 5px 0;
  font-weight: bold;
}

textarea {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.requiredField, .errorMessage {
  color: red;
  font-weight: normal;
}

.focusedInput {
  border: 2px solid red;
}
